@media only screen and (min-width: 769px) {
    .navbar {
        justify-content: space-between;

        .btn__whatsapp {
            display: inline-flex;
            align-items: center;
            text-align: center;
            background-color: $primary-rose;
            color: $primary-white;
            border-radius: .5rem;
            border: none;
            padding: .3rem 1rem .3rem .2rem;
            margin-left: 0; // 100px
            transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

            &:hover {
                transform: scale(1.1);
                background: $secondary-gradiente;
                color: transparent;

                span {
                    background-color: $primary-black;
                    color: $primary-purple;
                }

                i {
                    color: $primary-black;
                }

                &::after {
                    content: attr(data-text);
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: $secondary-gradiente;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            span {
                background-color: $primary-white;
                color: $primary-rose;
                font-size: 16px !important;
                border-radius: .5rem;
                padding: .3rem;
                margin-right: 0.5rem;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

            i.icon__center {
                font-size: 26px;
            }
        }
    }

    .navbar__links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 0 0;
    }

    .navbar__toggle {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .navbar__brand {
        // margin-right: 400px;

        .avatar {
            position: absolute;
            margin-top: -15px;
            margin-left: 0; // -100px
            width: 100px;
        }
    }

    // imagem hero
    .container__hero {
        position: relative;
        top: 0;

        .bg__hero {
            background-image: url("https://devpoa.com.br/asset/image/bg-desk.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            max-width: 100%;
            height: 90vh;
            max-height: 100%;
            position: relative;
            z-index: -1;
        }

        .bg__hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay-hero;
            opacity: 0.9;
            z-index: 1;
            pointer-events: none;
        }

        video {
            object-fit: cover;
            width: 100%;
            height: 90vh;
        }

        .content__card__hero {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            width: 960px;
            z-index: 2;
            color: $primary-white;
            text-align: start;
            display: block;

            .container__botoes {

                .btn__whatsapp {
                    display: inline-flex;
                    align-items: center;
                    text-align: center;
                    background: $primary-gradiente;
                    color: $primary-white;
                    border: none;
                    border-radius: .9rem;
                    padding: .3rem 1rem .3rem .2rem;
                    margin-right: 20px;
                    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        background: $secondary-gradiente;
                        color: transparent;

                        span {
                            background-color: $primary-black;
                            color: $primary-purple;
                        }

                        i {
                            color: $primary-black;
                        }

                        &::after {
                            content: attr(data-text);
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background: $secondary-gradiente;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    span {
                        background-color: $primary-white;
                        color: $primary-rose;
                        border-radius: .7rem;
                        padding: .5rem;
                        margin-right: 0.5rem;
                        transition: background-color 0.3s ease, color 0.3s ease;
                    }

                    i.icon__center {
                        font-size: 40px;
                    }
                }

                .btn__analise {
                    background-color: transparent;
                    border: 2px solid $primary-rose;
                    color: $primary-white;
                    padding: .7rem;
                    border-radius: .9rem;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        background: $primary-gradiente;
                        border: none;
                    }
                }
            }
        }

    }

    // card sub-hero
    .card__sub__hero {
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 960px;

        .cards {
            background: $overlay-hero-card;
            color: $primary-white;
            border: none;
            padding: .5rem;
            border-radius: .9rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 250px;
            max-height: 100%;
            box-shadow: $secondary-shadow;
        }

        .content__card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: .5rem .2rem;
            height: 100%;
        }

        .content__imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .1rem .5rem .5rem;

            .imagem__card {
                width: 66px;
            }
        }

        .content__text {
            padding: 0;
            text-align: center;
            flex-grow: 1;

            h {
                margin-bottom: .5rem;
                font-size: 1.2rem;
            }

            p {
                text-align: center;
                font-size: 13px;
            }
        }
    }


    // imagem hero sobre
    .container__hero__sobre {
        position: relative;
        top: 0;

        .bg__hero__sobre {
            background-image: url("https://devpoa.com.br/asset/image/bg-desk.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            max-width: 100%;
            height: 90vh;
            max-height: 100%;
            position: relative;
            z-index: -1;
        }

        .bg__hero__sobre::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
            z-index: 1;
            pointer-events: none;
        }

        video {
            object-fit: cover;
            width: 100%;
            height: 90vh;
        }

        .content__card__hero__sobre {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 960px;
            z-index: 2;
            color: $primary-white;
            text-align: center;
            display: block;

            .content__center__sobre {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;
            }

            .container__botoes {
                padding: 2rem;

                .btn__whatsapp {
                    display: inline-flex;
                    align-items: center;
                    text-align: center;
                    background: $primary-gradiente;
                    color: $primary-white;
                    border: none;
                    border-radius: .9rem;
                    padding: .3rem 1rem .3rem .2rem;
                    margin-right: 20px;
                    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        background: $secondary-gradiente;
                        color: transparent;

                        span {
                            background-color: $primary-black;
                            color: $primary-purple;
                        }

                        i {
                            color: $primary-black;
                        }

                        &::after {
                            content: attr(data-text);
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background: $secondary-gradiente;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    span {
                        background-color: $primary-white;
                        color: $primary-rose;
                        border-radius: .7rem;
                        padding: .5rem;
                        margin-right: 0.5rem;
                        transition: background-color 0.3s ease, color 0.3s ease;
                    }

                    i.icon__center {
                        font-size: 40px;
                    }
                }
            }
        }

    }

    // main
    main.container__main {
        position: absolute;
        margin-top: 300px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;

        // serviços
        .content__servicos {
            margin-top: 100px;
            width: 100%;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            .img__servico {
                display: flex;
                justify-content: flex-start;
            }

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .cards {
                background: $overlay-form;
                color: $primary-white;
                padding: .9rem;
                border-radius: .9rem;
                border: none;
                height: 100%;
                max-height: 100%;
                transition: .6s;

                &:hover {
                    box-shadow: $secondary-shadow;
                }

                .content__imagem {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .img__projeto {
                        width: 100%;
                        max-width: 100%;
                        border-top-left-radius: .9rem;
                        border-top-right-radius: .9rem;
                    }
                }

                .content__text {
                    padding: 1.5rem;

                    h4 {
                        font-size: medium;
                    }

                    p {
                        font-size: 13px;
                    }
                }
            }
        }

        // projetos
        .content__projetos {
            margin-top: 200px;
            width: 1200px;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .cards {
                background: $overlay-form;
                color: $primary-white;
                padding: 0;
                border-radius: .9rem;
                border: none;
                height: 100%;
                max-height: 100%;
                transition: .6s;

                &:hover {
                    box-shadow: $secondary-shadow;
                }

                .content__imagem {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border-top-left-radius: .9rem;
                    border-top-right-radius: .9rem;
                    overflow: hidden;

                    .img__projeto {
                        width: 100%;
                        max-width: 100%;
                        border-top-left-radius: .9rem;
                        border-top-right-radius: .9rem;
                        transition: transform 0.3s ease-in-out;

                        &:hover {
                            transform: scale(1.1) rotate(0deg);
                        }
                    }
                }

                .content__text {
                    padding: 1.5rem;

                    p {
                        font-size: 13px;
                    }

                    .content__btn {
                        display: flex;
                        justify-content: flex-end;

                        .btn__saibamais {
                            background-color: $primary-black;
                            color: $primary-white;
                            font-size: 13px;
                            padding: .5rem;
                            transition: .5s;

                            &:hover {
                                background-color: $primary-white;
                                color: $primary-black;
                            }
                        }
                    }
                }
            }
        }

        // marcas
        .content__marcas {
            margin-top: 200px;
            width: 1200px;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .content__imagem {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: .9rem;
                justify-content: center;

                .img__marcas {
                    width: 200px;
                    max-width: 100%;
                    gap: .9rem;
                    filter: grayscale(100%);
                    transition: filter .5s;

                    &:hover {
                        filter: grayscale(0);
                    }

                }
            }
        }

        // clientes
        .content__clientes {
            position: relative;
            margin-top: 250px;
            left: 50%;
            transform: translate(-50%);
            width: 1200px;
            max-width: 100%;
            max-height: 100%;

            .titulo__clientes {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 26%;
                font-size: 5.5em !important;
            }

            .cards {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background: $overlay-form;
                border: none;
                padding: 0;
                border-radius: .9rem;
                height: 100%;
                max-height: 100%;

                .card__counter {
                    color: $primary-white;
                    padding: 20px;
                    border-radius: 8px;
                    text-align: center;

                    span {
                        font-size: 20px;
                    }

                    .count {
                        font-size: 60px;
                        font-weight: bold;
                    }
                }

            }
        }

        // informações
        .content__info {
            margin-top: 250px;
            background-image: url("https://devpoa.com.br/asset/image/infos-bg.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            max-width: 100%;
            height: 100vh;
            max-height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5rem 2rem 5rem 2rem;

            .card__row {
                background-color: $primary-black;
                padding: 0;
                border-radius: .9rem;
                border: none;
                width: 1200px;
                max-height: 100%;
            }

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .cards {
                display: flex;
                padding: 0;
                border-radius: .9rem;
                border: none;
                height: 100%;
                max-height: 100%;

                .content__imagem {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .img__info {
                        width: 100%;
                        height: auto;
                        max-height: 100%;
                        object-fit: cover;
                        border-top-left-radius: .9rem;
                        border-bottom-left-radius: .9rem;
                    }
                }
            }

            .card__info {
                border-bottom-right-radius: .9rem;

                .content__titulo {
                    padding: 1.5rem;

                    p {
                        font-size: 13px;
                    }
                }
            }

        }

        // contato
        .content__contato {
            margin-top: 100px;
            width: 1200px;
            max-width: 100%;
            height: 80vh;
            max-height: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $overlay-hero;
            padding: 5rem;
            border: none;
            border-radius: .9rem;
            box-shadow: $secondary-shadow;

            .content__titulo {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 2rem 2rem 0 2rem;
            }

            .cards {
                background: $overlay-form;
                padding: 0;
                border-radius: .9rem;
                border: none;
                height: 100%;

                .content__imagem {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    height: 100%;
                    max-height: 100%;

                    .img__contato {
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        max-width: 100%;
                        border-radius: .9rem;
                        border: none;
                    }
                }

                .content__titulo {
                    padding: auto;

                    p {
                        font-size: 13px;
                    }
                }

                form {
                    padding: 2rem 4rem 2rem 4rem;
                }

                .form-control {
                    border: none;
                    border-radius: 1.2rem;
                    padding: .6rem;
                    background-color: $primary-lilas;

                    &:focus {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }

                    &::placeholder {
                        color: $primary-black;
                        font-size: 14px;
                    }
                }

                textarea {
                    width: 100%;
                    height: 120px;
                    border: none;
                    border-radius: 1.2rem;
                    padding: .6rem !important;
                    background-color: $primary-lilas;

                    &:focus {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }

                    &:active {
                        outline: 0;
                        border: none;
                        box-shadow: none;
                    }

                    &::placeholder {
                        color: $primary-black;
                        font-size: 14px;
                    }
                }

                button.btn__enviar {
                    width: 100%;
                    background: $secondary-gradiente;
                    color: $primary-white;
                    padding: .5rem;
                    border-radius: 1.2rem;
                    transition: .5s;

                    &:hover {
                        background: $primary-gradiente;
                        box-shadow: $secondary-shadow;
                    }
                }

                .content__icons {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    bottom: 0;
                    width: 100%;
                    max-width: 100%;
                    background: $secondary-gradiente;
                    padding: 2rem 3rem;
                    border-bottom-left-radius: .9rem;
                    border-bottom-right-radius: .9rem;

                    .content__form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        i {
                            color: $primary-white;
                            font-size: 30px;
                            margin-bottom: 0.5rem;
                        }

                        a {
                            color: $primary-white;
                        }
                    }
                }
            }

        }

        // sobre
        .content__sobre {
            margin-top: -150px;
            width: 1200px;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            .content__ceo {
                display: flex;
                justify-content: center;

                .img__ceo {
                    width: 100%;
                    max-width: 690px;
                }
            }

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .cards {
                background: $overlay-form;
                color: $primary-white;
                padding: .9rem;
                border-radius: .9rem;
                border: none;
                height: 100%;
                max-height: 100%;
                transition: .6s;

                &:hover {
                    box-shadow: $secondary-shadow;
                }

                .content__imagem {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                }

                .content__text {
                    padding: 1.5rem;

                    p {
                        font-size: 13px;
                    }
                }
            }
        }

        // case
        .content__cases {
            margin-top: -150px;
            width: 1200px;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            .content__espaco {
                padding: 2rem 0;
            }

            .content__titulo {
                position: relative;
                display: inline;
                flex-direction: column;
                justify-content: flex-start;

                .degrade__border {
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-image: $secondary-gradiente;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                h1 {
                    font-size: 3.5em !important;
                    color: $primary-white;
                }

                h2.titulo__case {
                    color: $primary-white;
                    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
                }

                p {
                    padding: 0 0 13rem 0;
                }
            }

            .content__logo {
                display: flex;
                padding: 0 0 .9rem 0;

                .logo__case {
                    width: 200px;
                    filter: grayscale(100%);
                    transition: filter .5s;

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }

            .card__case {
                padding: 0;
                border-radius: .9rem;
                border: none;
                height: 100%;
                max-height: 100%;

                .content__imagem {
                    display: flex;
                    justify-content: right;
                    align-items: center;

                    .img__cases {
                        width: 724px;
                        height: 431px;
                        border-radius: .9rem;
                    }
                }
            }

            .content__text {

                p {
                    padding: .5rem;
                    font-size: 13px;
                    text-align: justify;
                }
            }
        }

        // depoimentos
        // vagas
        // tutoriais
        // faqs
        //footer
        footer {
            margin-top: 100px;
            width: 100%;
            max-width: 100%;
            padding: 2rem;
            background: $overlay-hero-card;
            color: $primary-white;

            .footer-content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .logo__footer {
                    margin-bottom: 1rem;
                    width: 100px;
                    padding: 0 0 1.5rem 0;
                }

                .colunm__links {
                    margin-top: 20px;

                    h4 {
                        padding: 0 0 1.5rem 0;
                    }
                }

                .column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h4 {
                        margin-bottom: 0.5rem;
                    }

                    a {
                        color: $primary-white;
                        text-decoration: none;
                        margin-bottom: 0.5rem;
                        transition: width .3s;

                        &:hover {
                            color: $primary-rose;
                        }
                    }
                }

                .social-links {
                    display: flex;
                    gap: 1rem;

                    a {
                        color: $primary-white;
                        font-size: 1.5rem;
                        transition: color .5s;

                        &:hover {
                            color: $primary-rose;
                        }
                    }
                }
            }

            .links {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }


    }
}